header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 120px;
    padding: 10px 0;
}

.left-header-container {
    display: flex;
    align-items: center;
}

.logo-container {
    display: flex;
    gap: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 50px;
}

a {
    text-decoration: none;
}

.right-header-container {
    display: flex;
    position: relative;
    gap: 20px;
}

.search-bar {
    width: 220px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #D6D6D6;
    padding: 0 0 0 40px;
}

.search-icon {
    position: absolute;
    top: 10px;
    left: 10px;
}

h1 {
    color: #000;
}