<div class="delimeter"></div>
<footer>
    <div class="footer-description">
        <div class="footer-logo">
            <h4>UniBoard</h4>
            <p>Connecting students and faculty for a better university experience.</p>
        </div>
        <ul>
            <h4>Resources</h4>
            <li>Help Center</li>
            <li>Community Guidelines</li>
            <li>Privacy Policy</li>
        </ul>
        <ul>
            <h4>Features</h4>
            <li>Help Center</li>
            <li>Community Guidelines</li>
            <li>Privacy Policy</li>
        </ul>
        <ul>
            <h4>support&#64;uniboard.edu</h4>
            <li>Help +123-4567-89</li>
            <li>Tole Bi 59, Almaty</li>
        </ul>
    </div>
    <div class="lower-container">
        &#169; 2025 UniBoard. All rights reserved.
    </div>
</footer>