footer {
    display: flex;
    flex-direction: column;
    margin: 0 50px;
}

.footer-description {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    border-bottom: 1px solid #d6d6d6;
    padding: 30px 0;
}

.footer-description ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.lower-container {
    border-bottom: 1px solid #d6d6d6;
    text-align: center;
    padding: 30px 0 35px;
}

.delimeter {
    width: 100%;
    background-color: #d6d6d6;
    height: 0.5px;
}