<main>
    <div class="hero-header-container">
        <h1 class="hero-header">
            UniBoard - Университетская платформа
        </h1>
        <p>Проект университетской платформы для организации обучения и взаимодействия студентов с преподавателями. Система предоставляет доступ к курсам, учебным материалам и позволяет эффективно организовать учебный процесс.</p>
        <p>Основные возможности:</p>
        <ul>
            <li>Поиск преподавателей и студентов университета</li>
            <li>Каталог учебных курсов с детальной информацией</li>
            <li>Система обмена учебными материалами</li>
        </ul>
    </div>
    <div class="search-box-container">
        <h2>Поиск в справочнике</h2>
        <div class="search-category-container">
            <div [class.active]="searchCategory === 'People'" (click)="setCategory('People')">
                Люди
            </div>
            <div [class.active]="searchCategory === 'Courses'" (click)="setCategory('Courses')">
                Курсы
            </div>
            <div [class.active]="searchCategory === 'Professors'" (click)="setCategory('Professors')">
                Преподаватели
            </div>
        </div>
        <form class="hero-input-container" (submit)="search(); $event.preventDefault()">
            <div class="name-department-input-container">
                <div class="name-input-container">
                    <p>Имя/Название</p>
                    <input class="name-input" type="text" placeholder="Введите имя/название" [(ngModel)]="searchName" name="searchName">
                </div>
                <div class="department-input-container">
                    <p>Факультет</p>
                    <input class="department-input" type="text" placeholder="Введите факультет" [(ngModel)]="searchDepartment" name="searchDepartment">
                </div>
            </div>
            <div class="interests-input-container">
                <p>Навыки или интересы</p>
                <input class="interests-input" type="text" placeholder="Программирование, Исследования, Дизайн..." [(ngModel)]="searchInterests" name="searchInterests">
            </div>
            <button type="submit" class="hero-btn">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#ffffff" d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
                Найти {{ searchCategory === 'People' ? 'людей' : searchCategory === 'Courses' ? 'курсы' : 'преподавателей' }}
            </button>
        </form>
    </div>
</main>
